.env
._*

deploy.lock

/lemp/log/*
/lemp/mysql/*
/lemp/mysql/config/*
/lemp/mysql/data/*
/lemp/mysql/log/*

/lemp/nginx/*
/lemp/nginx/config/*
/lemp/nginx/config/certs/*


/lemp/php-app/*

/lemp/docker/build_file/mysql/*

!.placeholder